<div class="container">
  <div class="row">
    <div
      *ngFor="let user of userInfo | search: incomingFilterWord"
      class="col-md-4 mb-3 mb-3"
    >
      <div class="card d-flex justify-content-center align-items-center">
        <img src="../../assets/img/pp.jpeg" class="card-img-top" alt="..." />
        <div class="card-body text-center">
          <h5 class="card-title">{{ user.name }}</h5>
          <p class="text-primary">{{ user.country }}</p>
          <p class="email">Phone: {{ user.phone }}</p>
          <p class="card-text">Age: {{ user.age }}</p>
          <p class="email">{{ user.email }}</p>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="!incomingFilterWord"
    class="input-group d-flex justify-content-center mb-5"
  >
    <a *ngIf="currentPage != 0" (click)="pageDown()"
      >{{ currentPage }}&nbsp; &nbsp;<i class="fa-solid fa-arrow-left-long"></i
    ></a>

    &nbsp; &nbsp;
    <span>{{ currentPage + 1 }} of {{ totalPage }}</span> &nbsp; &nbsp;
    <a *ngIf="currentPage < totalPage - 1" (click)="pageUp()"
      ><i class="fa-solid fa-arrow-right-long"></i>&nbsp; &nbsp;{{
        currentPage + 2
      }}</a
    >
  </div>
</div>
