img {
  border-radius: 50%;
  width: 150px;
  height: 170px;
  margin-top: 1rem;
  background: center;
}
.container {
  font-size: 0.7rem;
  margin-top: 35px;
}
.email {
  word-wrap: break-word;
}
i {
  cursor: pointer;
}
